
  <!-- <igx-grid [data]="items | async" [autoGenerate]="false" height="400px">
      <igx-column field="Name" [sortable]="true" header="Name" [filterable]="true"></igx-column>
      <igx-column field="Position" [sortable]="true" header="Position" [filterable]="true"></igx-column>
      <igx-column field="Description" [sortable]="true" header="Description" [filterable]="true"></igx-column>
      <igx-column field="MySession" [sortable]="true" header="MySession" [filterable]="true"></igx-column>
      <igx-column field="sessionTitle" [sortable]="true" header="SessionTitle" [filterable]="true"></igx-column>
  </igx-grid> -->

<!-- <table>
  <thead>
  <tr>
      <td>Name</td>
      <td>Position</td>
      <td>Description</td>
      <td>My Session</td>
      <td>Session Title</td>
  </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of items| async | slice:0:1 ; let i = index">
          <td >{{ item.Name}}</td>
          <td>{{ item.Position }}</td>
          <td>{{ item.Description  }}</td>
          <td>{{ item.MySession }}</td>
          <td>{{ item.sessionTitle }}</td>
      </tr>
  </tbody>
</table><table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Position</td>
        <td>Description</td>
        <td>My Session</td>
        <td>Session Title</td>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items| async | slice:1:2">
            <td >{{ item.Name}}</td>
            <td>{{ item.Position }}</td>
            <td>{{ item.Description  }}</td>
            <td>{{ item.MySession }}</td>
            <td>{{ item.sessionTitle }}</td>
        </tr>
    </tbody>
  </table> -->
 
  <!-- <div class="row card-group">
      <div class="col-3"  *ngFor="let item of items | async | slice:0:40">
          <div class="card" style="width: 31rem; margin-top: 24px;">
           <a [routerLink]="['/description']"> <img class="card-img-top" src="assets/jeson.jpg" alt="Card image cap" style="width:31rem; height:24rem"></a>

              <h5 style="margin-left: 10rem" class="card-title" >{{item.Name}}</h5>
              <h4 style="margin-left: 1rem"class="card-text">{{item.Position}}</h4>
           

          </div>
      </div>
  </div> -->
<h1 style="text-align: center"> Speakers</h1>


<div class="row">   <!--ROW1-->
    <div class="col-sm-3 text-center speaker">   
        <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:5:6">
        <a [routerLink]="['/description']" (click)="description(1)"> <img class="card-img-top" src="assets/jeson.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
        <div class="card-body">
        <h2 class="card-title" >{{item.Name}}</h2>
        <h3 class="card-text">{{item.Position}}</h3>
        </div>
        </div> 
        </div>
        <div class="col-sm-3 text-center speaker">   
    <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:15:16">
            <a (click)="description(2)"> <img class="card-img-top" src="assets/vikram.jpg" alt="Card image cap" style="width:30.8rem; height:24rem;margin-top:-2rem"></a>
            <div class="card-body">
            <h2 class="card-title">{{item.Name}}</h2>       
            <h3 class="card-text">{{item.Position}}</h3>
            </div>
            </div>
        </div>
        <div class="col-sm-3 text-center speaker">   
    <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:1:2">
            <a  (click)="description(3)"> <img class="card-img-top" src="assets/holt.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
            <div class="card-body">
            <h2 class="card-title" >{{item.Name}}</h2>
            <h3 class="card-text">{{item.Position}}</h3>
            </div>
            </div>
        </div>
        <div class="col-sm-3 text-center speaker">   
    <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:6:7">
                <a (click)="description(4)"> <img class="card-img-top" src="assets/jesse_sanders.png" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
                <div class="card-body">
                <h2 class="card-title" >{{item.Name}}</h2>
                <h3 class="card-text">{{item.Position}}</h3>
                </div>
                </div>
              </div>
    
    </div><!--ROW1close-->
    
       <div class="row"><!--ROW2-->
              <div class="col-sm-3 text-center speaker"> 
          <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:10:11">
              <a (click)="description(5)"> <img class="card-img-top" src="assets/manjula.jpg" alt="Card image cap" style="width:30.8rem; height: 24rem;
              margin-top: 19px;"></a>
              <div class="card-body">
              <h2 class="card-title" >{{item.Name}}</h2>
              <h3 class="card-text">{{item.Position}}</h3>
              </div>
              </div>
            </div>
              <div class="col-sm-3 text-center speaker">   
          <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:9:10">
               <a (click)="description(6)"> <img class="card-img-top" src="assets/maxim.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
               <div class="card-body">
               <h2 class="card-title" >{{item.Name}}</h2>
               <h3 class="card-text">{{item.Position}}</h3>
               </div>
               </div>
               </div>
               <div class="col-sm-3 text-center speaker">
               <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:2:3">
                  <a (click)="description(7)"> <img class="card-img-top" src="assets/nitisha.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>   
                  <div class="card-body">
                  <h2 class="card-title" >{{item.Name}}</h2>
                  <h3 class="card-text">{{item.Position}}</h3>
                  </div>
                  </div>
                </div>
                <div class="col-sm-3 text-center speaker">
    
                <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:4:5">
                    <a (click)="description(8)"> <img class="card-img-top" src="assets/jon_niklas.png" alt="Card image cap" style="width:30.7rem; height:24rem"></a>
                    <div class="card-body">
                    <h2 class="card-title" >{{item.Name}}</h2>
                    <h3 class="card-text">{{item.Position}}</h3>
                    </div>
                    </div>
                    </div>
                  
               </div><!--ROW2close-->
        <div class="row"><!--ROW3-->
            <div class="col-sm-3 text-center speaker">
                <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:8:9">
                    <a  (click)="description(9)"> <img class="card-img-top" src="assets/marta.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
                    <div class="card-body">
                    <h2 class="card-title" >{{item.Name}}</h2>
                    <h3 class="card-text">{{item.Position}}</h3>
                    </div>
                    </div>
    </div>
    <div class="col-sm-3 text-center speaker">
    <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:14:15">
        <a (click)="description(10)"> <img class="card-img-top" src="assets/laeva.jpg" alt="Card image cap" style="width:30.8rem; height:24rem;
         margin-top: 18px"></a>
        <div class="card-body">
        <h2 class="card-title" >{{item.Name}}</h2>
        <h3 class="card-text">{{item.Position}}</h3>
        </div>
        </div>
      </div>
      <div class="col-sm-3 text-center speaker">
          <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:11:12">
              <a (click)="description(11)"> <img class="card-img-top" src="assets/nisu.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
              <div class="card-body">
              <h2 class="card-title" >{{item.Name}}</h2>
              <h3 class="card-text">{{item.Position}}</h3>
              </div>
              </div>
              </div>
      
      <div class="col-sm-3 text-center speaker">
          <div class="spk-container" style="width: 31rem; margin-top: 24px;" *ngFor="let item of items | async | slice:0:1">
              <a (click)="description(12)"> <img class="card-img-top" src="assets/anchal.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
              <div class="card-body">
              <h2 class="card-title" >{{item.Name}}</h2>
              <h3 class="card-text">{{item.Position}}</h3>
              </div>
              </div>
      </div> 
    
        </div> <!--ROW3close-->
        <div class="row"><!--ROW4-->
            <div class="col-sm-3 text-center speaker">
                <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:13:14">
                    <a (click)="description(13)"> <img class="card-img-top" src="assets/shiv.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
                    <div class="card-body">
                    <h2 class="card-title" >{{item.Name}}</h2>
                    <h3 class="card-text">{{item.Position}}</h3>
                    </div>
                    </div>
            </div>
            
                <div class="col-sm-3  text-center speaker">
                    <div class="spk-container"style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:12:13">
                    <a (click)="description(14)"> <img class="card-img-top" src="assets/pankaj.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
                    <div class="card-body">
                    <h2 class="card-title" >{{item.Name}}</h2>
                    <h3 class="card-text">{{item.Position}}</h3>
                    </div>
                    </div>
    </div>
    <div class="col-sm-3 text-center speaker">
        <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:7:8">
            <a (click)="description(15)"> <img class="card-img-top" src="assets/jinal.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
            <div class="card-body">
            <h2 class="card-title" >{{item.Name}}</h2>
            <h3 class="card-text">{{item.Position}}</h3>
            </div>
            </div>
    </div>
    <div class="col-sm-3 text-center speaker">
      <div class="spk-container" style="width: 30.799999rem; margin-top: 24px;" *ngFor="let item of items | async | slice:3:4">
        <a (click)="description(16)"> <img class="card-img-top" src="assets/dj.jpg" alt="Card image cap" style="width:30.8rem; height:24rem"></a>
        <div class="card-body">
        <h2 class="card-title" >{{item.Name}}</h2>
        <h3 class="card-text">{{item.Position}}</h3>
        </div>
        </div> </div>   
    
    </div><!--ROW4close-->
